<div class="topnav" id="myTopnav">
  </a>
  <a>
    <form class="d-flex" [formGroup]="formdata" (ngSubmit)="onSubmit()" style="margin: -3px">
      <select style="width: 80px" formControlName="isNameOrSinger"  >
        <option [value]="true" selected="selected">Bài hát</option>
        <option [value]="false">Ca sĩ</option>
      </select>
    </form>
  </a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <a *ngIf="checklogin" [matMenuTriggerFor]="menu" class="active">
    <img src="{{avartar}}" id="avatar">
    <button mat-button>{{fullnam}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changePassword()">
        <mat-icon style="color: red">create</mat-icon>
        <span>Đổi mật khẩu</span>
      </button>
      <button mat-menu-item (click)="editProfile()">
        <mat-icon style="color: #3cf501">update</mat-icon>
        <span>Cập nhật profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon color="warn">logout</mat-icon>
        <span>Đăng xuất</span>
      </button>
    </mat-menu>
  </a>
</div>
<div style="text-align: right">
  <mat-card *ngIf="isSearch" (click)="closeSearch()">
    <mat-icon style="color: red;font-size: 30px">close</mat-icon>
  </mat-card>
</div>
<app-search *ngIf="isSearch" [songs]="songs"></app-search>



