<mat-dialog-actions align="end" style="position:relative; right: -20px;top:-20px">
  <button mat-button mat-dialog-close>
    <mat-icon style="color: red">cancel</mat-icon>
  </button>
</mat-dialog-actions>
<form class="d-flex">
  <select class="form-control me-2" style="width: 80px">
    <option>Ca sĩ</option>
    <option>Bài hát</option>
  </select>
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div style="width: 380px;margin-top: 20px">
  <p>Kết quả tìm kiếm</p>
  <input type="checkbox"  (change)="pushItem($event,'1')" >
  <input type="checkbox"  (change)="pushItem($event,'2')" >
  <input type="checkbox"  (change)="pushItem($event,'3')" >
  <input type="checkbox"  (change)="pushItem($event,'4')" >
</div>

<button mat-button *ngIf="chekcItem">
  <mat-icon style="color: red">ADD</mat-icon>
</button>
