<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><mat-icon style="color: red">cancel</mat-icon></button>
</mat-dialog-actions>
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top: 20px;text-align: center">
      <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Mật khẩu cũ</mat-label>
            <input formControlName="oldPassword"  matInput placeholder="6 đến 8 ký tự" minlength="3" maxlength="100" required>
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error >The name is required!</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Mật khẩu mới </mat-label>
            <input formControlName="newPassword"  matInput placeholder="6 đến 8 ký tự" minlength="3" maxlength="100" required>
            <mat-icon matSuffix>password</mat-icon>
            <mat-error >The password is required!</mat-error>
          </mat-form-field>
        </div>
        <br>
        <button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Edit</button>
        &nbsp;
      </form>
    </div>
  </div>
</div>
