<mat-grid-list cols="6" rowHeight="10%">
  <mat-grid-tile colspan="6" rowspan="1" style="background-color: #ffffff;">
    <div id="play-pause"><img width="50px" height="50px" src="https://img3.thuthuatphanmem.vn/uploads/2019/09/30/mau-hinh-tron-ngu-sac-don-gian_111541102.png"></div><p id="name-song">Tên bài hát</p>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="9" style="background-color: #101628;">
    <app-latest ></app-latest>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="9" style="background-color: #a40404;">
    <app-count></app-count>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="9" style="background-color: #754444;">
  </mat-grid-tile>
</mat-grid-list>

