<div class="container">
  <div class="row">
    <p *ngIf="alert" >{{alert}}</p>
    <div class="col-3"></div>
    <div class="col-6" style="margin-top: 20px;text-align: center">
      <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Tên tài khoản: </mat-label>
            <input formControlName="username"  matInput placeholder="Tên tài khoản" minlength="3" maxlength="100" required>
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error >Không được để trống</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Họ và Tên </mat-label>
            <input formControlName="fullName" type="text" matInput placeholder="Họ và tên"  required>
            <mat-icon matSuffix>info</mat-icon>
            <mat-error >Không được để trống</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input formControlName="password" type="password" matInput placeholder="6 đến 8 ký tự" minlength="6" maxlength="8" required>
            <mat-icon matSuffix>password</mat-icon>
            <mat-error >Không được để trống</mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <input formControlName="re_password" type="password"  matInput placeholder="6 đến 8 ký tự" minlength="6" maxlength="8" required>
            <mat-icon matSuffix>password</mat-icon>
            <mat-error >Không được để trống</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Điện thoại </mat-label>
            <input formControlName="phoneNumber" type="text"   matInput placeholder="Số điện thoại" minlength="3" maxlength="100" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error >Không được để trống</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Xác nhận</button>
        &nbsp;
        <button type="reset"  class="btn btn-warning" routerLink="/"> &nbsp;&nbsp;&nbsp;Thoát  &nbsp;&nbsp;</button>
      </form>
    </div>
  </div>
</div>


