<div class="container">
  <div class="row">
    <p *ngIf="alert" >{{alert}}</p>
    <div class="col-3"></div>
    <div class="col-6" style="margin-top: 20px;text-align: center">
      <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Username: </mat-label>
            <input formControlName="username"  matInput placeholder="Placeholder" minlength="3" maxlength="100" required>
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error >The name is required!</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Full name: </mat-label>
            <input formControlName="fullName" type="text" matInput placeholder="Placeholder"  required>
            <mat-icon matSuffix>info</mat-icon>
            <mat-error >The full name is required!</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Password: </mat-label>
            <input formControlName="password" type="password" matInput placeholder="Placeholder" minlength="6" maxlength="8" required>
            <mat-icon matSuffix>password</mat-icon>
            <mat-error >The password is required!</mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Re-password: </mat-label>
            <input formControlName="re_password" type="password"  matInput placeholder="Placeholder" minlength="6" maxlength="8" required>
            <mat-icon matSuffix>password</mat-icon>
            <mat-error >The re-password is required!</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Phone: </mat-label>
            <input formControlName="phoneNumber" type="text"   matInput placeholder="Placeholder" minlength="3" maxlength="100" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error >The phone is required!</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Create</button>
        &nbsp;
        <button type="reset"  class="btn btn-warning" routerLink="/"> Cancel</button>
      </form>
    </div>
  </div>
</div>


