

#range {
  -webkit-appearance: none;
  background-color: #3cf501;
  height: 4px;
  width: 94%;
  cursor: pointer;
  opacity: 1;
  margin: 0 auto;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
}

#range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


.playlist {
  margin-top: 10px;
}

.song {
  display: flex;
  text-align: center;
  margin-bottom: 12px;
  background-color: rgba(56, 7, 7, 0.27);
  padding: 16px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.play{
  display: flex;
  text-align: center;
  margin-bottom: 12px;
  background-color: rgba(90, 236, 41, 0.86);
  padding: 16px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song .thumb {
  background-size: cover;
}
.song .option {
  background-size: cover;
}
.song .body {
  flex: 1;
}


#name-song {
  font-weight: bold;
  position: relative;
  animation: spin7 15s infinite;
  animation-timing-function: linear;
  text-shadow: 3px 3px 10px #3cf501;
  color: #F2E6D8;
  font-size: 18px;
}

@keyframes spin7 {
  from {
    left: 20%;
  }
  to {
    left: 60%;
  }
}
